/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/test-driver
/config.h
/config.h.*
/config.log
/config.status
/configure
**/.deps
**/.libs
/jstruct/Makefile
/jstruct/Makefile.in
/libtool
/m4
/stamp-h1
/tests/.deps/check_jstruct-check_jstruct.Po
/tests/Makefile
/tests/Makefile.in
**/*.o
**/*.a
**/*.so.*
**/*.lo
**/*.la
**/*.lai
**/*.pyc
tests/check_jstruct
tests/*.log
tests/check_jstruct.trs
.git
libjstruct-la-*.tar.gz
