/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/output.2
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/autom4te.cache/traces.2
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/test-driver
/config.h
/config.h.in
/config.log
/config.status
/configure
/lib/.deps/jstruct.Plo
/lib/Makefile
/lib/Makefile.in
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/stamp-h1
/tests/.deps/check_jstruct-check_jstruct.Po
/tests/Makefile
/tests/Makefile.in
.git
